div.navbar(ng-controller="navbar")
  md-content
    md-nav-bar(md-selected-nav-item="current", nav-bar-aria-label="navigation links")
      img.logo(src='/public/assets/images/logo.png')
      md-nav-item(md-nav-sref="home", name="home") 首页
      md-nav-item(md-nav-sref="essence", name="essence") 精华
      md-nav-item(md-nav-sref="share", name="share") 分享
      md-nav-item(md-nav-sref="qestion", name="qestion") 问答
      md-nav-item(md-nav-sref="course", name="course") 课程
      md-nav-item(md-nav-sref="article", name="article") 技术交流
      span(flex)
      md-nav-item(md-nav-click='signout()', name="signout")
        md-tooltip 退出
        md-icon power_settings_new
