header.navbar-fixed
  nav.blue
    .nav-wrapper.container
      a.brand-logo 企业在线学习系统
      ul.right.hide-on-med-and-down
        li
          a(href='/') 首页
        li
          a(href='/course') 课程
        li
          a(href='/article') 技术交流
        li
          a(href='javascript:;')
            i.material-icons power_settings_new