div(ng-controller="admin.course", ng-cloak)
  md-content.md-padding
    <md-button class="md-raised md-primary" ui-sref="admin.course.add">新增</md-button>
  <md-divider></md-divider>
  <md-table-container>
    <table md-table md-progress="promise">
      <thead md-head md-order="searcher.orderBy" md-on-reorder="getData">
        <tr md-row>
          <th md-column md-order-by="Number"><span>编号</span></th>
          <th md-column md-order-by="Brand"><span>品牌</span></th>
          <th md-column md-order-by="Version"><span>型号</span></th>
          <th md-column md-order-by="DisplaySize"><span>屏幕尺寸</span></th>
          <th md-column md-order-by="UserName"><span>领用人</span></th>
          <th md-column><span>领用人部门</span></th>
          <th md-column md-order-by="Status">状态</th>
          <th md-column>操作</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="item in list">
          <td md-cell>{{item.number}}</td>
          <td md-cell>{{item.brand}}</td>
          <td md-cell>{{item.version}}</td>
          <td md-cell>{{item.displaySize}}</td>
          <td md-cell>{{item.userName}}</td>
          <td md-cell>{{item.userDepartment}}</td>
          <td md-cell>{{original.assetsFixingsStatusEnums[item.status]}}</td>
          <td md-cell>
              <md-button class="md-icon-button" ng-click="showEditDialog($event, item)">
                <i class="material-icons">create</i>
              </md-button>
          </td>
        </tr>
        <tr md-row ng-show="list.length == 0">
          <td class="tac" md-cell colspan="8">无数据</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-label="{page: '页数', rowsPerPage: '每页', of: '总数'}" md-limit-options="[10, 15, 20, 25, 50]" md-limit="searcher.size" md-page="searcher.page" md-total="{{searcher.total}}" md-on-paginate="getData" md-page-select></md-table-pagination>