md-button(ng-repeat='item in categories', ng-class="{'md-primary md-raised': searcher.category == item._id}", ng-bind='item.name', ng-click='changeCategory($event, item)', aria-label='{{item.name}}')
md-list.article-list
  md-list-item(ng-repeat='item in list')
    md-button.md-no-style.md-list-item-inner(ui-sref='article.detail({id: item._id})', target='_blank')
      img.md-avatar(ng-src='{{item.user.avatar | avatar}}')
      span.count {{item.commentCount}}/{{item.readCount}}
      span.top(ng-if='item.top') 置顶
      span.essence(ng-if='item.essence') 精华
      p {{item.title}}
      span.date {{item.createdAt | friendly}}
    md-divider(ng-if='!$last')
  md-list-item(ng-if='list.length == 0 && !loading')
    div.tac(flex) 暂无数据
md-table-pagination(md-label='{page: "页数", rowsPerPage: "每页", of: "总数"}', md-limit-options='[10, 20, 30, 50, 100]', md-limit='searcher.size', md-page='searcher.page', md-total='{{searcher.total}}', md-on-paginate='getList', md-page-select)