extends layouts/layout.pug

block content
  .index-wrapper(ng-controller='indexCtrl')
    .row
      .col.s12
        .card
          .card-content
            a.card-title(href='') 央美学生个人学习制作游戏获奖经验分享
            p
              | 来自中央美术学院的两名游戏作品获奖的学生，为大家分享了个人学习和制作游戏的经验。
          .card-action
            i.material-icons visibility
            span.count(title='阅读数') 200
            i.comments.material-icons question_answer
            span.count(title='回复数') 300
            a.right(href='#') 立即学习
