extends ./layouts/default.pug

block content
  .container(layout='column', layout-align='space-between none')
    include ./clients/navbar.pug
    main(layout='row', layout-padding)
      div.content(flex='80')
        .fade.ui-view(ng-animate="'fade'")
      include ./clients/sidebar.pug
    include ./clients/footer.pug