extends ./layouts/default.pug

block title
  title 登录 - 企业在线学习系统

block content
  .container(layout='row', layout-align='center center')
    .signin-wrap(ng-controller='signin')
      md-content(layout-padding)
        h3.md-headline 登录
        md-divider
        form(name='signinForm', ng-submit='authenticate()')
          md-input-container.md-block
            label 用户名
            md-icon.md-default-theme account_box
            input(name='username', type='text', required, md-no-asterisk, ng-model='signin.username')
            div(ng-messages='signinForm.username.$error')
              div(ng-message='required') 请输入用户名
          md-input-container.md-block
            label 密码
            md-icon.md-default-theme lock
            input(name='password', type='password', required, md-no-asterisk, ng-model='signin.password')
            div(ng-messages='signinForm.password.$error')
              div(ng-message='required') 请输入密码
          md-input-container.md-block
            md-checkbox(name='autosignin', ng-model='signin.autosignin') 自动登录
          md-button(type='submit', class='md-raised md-primary') 登录
