aside(ng-controller='sidebar', flex='20')
  md-card.nm(md-theme='default')
    md-card-title
      md-card-title-text
        span(class='md-headline') 田星
        span(class='md-subhead')
          | Web前端开发
          br
          | 平台开发部
      md-card-title-media
        div(class='md-media-sm card-media')
          img(src='http://oa.mokylin.com/Content/images/avatar/2014-08-21/5d46df74-b3ea-488f-b8ad-402a3d42c43f.png')
    md-card-actions(layout='row', layout-align='end center')
      md-button(class='md-primary') 我的文章
      md-button(class='md-primary') 分享技术
  md-list
    md-subheader.md-no-sticky 热门课程TOP10
    md-list-item(ui-sref='client.article', md-colors='{color: "primary"}') 撒旦防撒旦发射点发
    md-list-item(ui-sref='client.article', md-colors='{color: "primary"}') 撒旦防撒旦发射点发
    md-list-item(ui-sref='client.article', md-colors='{color: "primary"}') 撒旦防撒旦发射点发
    md-list-item(ui-sref='client.article', md-colors='{color: "primary"}') 撒旦防撒旦发射点发
    md-list-item(ui-sref='client.article', md-colors='{color: "primary"}') 撒旦防撒旦发射点发