aside(ng-controller='sidebar', flex='20')
  md-card(md-theme='default')
    md-card-title
      md-card-title-text
        span(class='md-headline') {{guser.name}}
        span(class='md-subhead', ng-bind='guser.position')
          | {{guser.position}}
          br
          | {{guser.department}}
      md-card-title-media
        div(class='md-media-sm card-media')
          img(ng-src='{{guser.avatar}}')
    md-card-actions(layout='row', layout-align='end center')
      md-button.md-raised.md-primary(ui-sref="article.create({type: 'share'})") 分享
      md-button.md-raised.md-primary(ui-sref="article.create({type: 'question'})") 提问
  md-card(md-theme='default')
    md-list
      md-subheader.md-no-sticky 我的文章
      md-list-item(ui-sref='article.share', md-colors='stateName == "article.share" ? {"background" : "primary"} : {"color" : "primary"}') 我的分享
      md-list-item(ui-sref='article.question', md-colors='stateName == "article.question" ? {"background" : "primary"} : {"color" : "primary"}') 我的问题
      md-list-item(ui-sref='article.reply', md-colors='stateName == "article.reply" ? {"background" : "primary"} : {"color" : "primary"}') 我的回复
