@charset "UTF-8";
.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
.block {
  display: block;
}
.inblock {
  display: inline-block;
}
.hide {
  display: none;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.toe {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.pf {
  position: fixed;
}
.nf {
  float: none !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.nm {
  margin: 0 !important;
}
.nlm {
  margin-left: 0 !important;
}
.nrm {
  margin-right: 0 !important;
}
.ntm {
  margin-top: 0 !important;
}
.nbm {
  margin-bottom: 0 !important;
}
.np {
  padding: 0 !important;
}
.nlp {
  padding-left: 0 !important;
}
.nrp {
  padding-right: 0 !important;
}
.ntp {
  padding-top: 0 !important;
}
.nbp {
  padding-bottom: 0 !important;
}
.nb {
  border: 0 !important;
}
.nlb {
  border-left: 0 !important;
}
.nrb {
  border-right: 0 !important;
}
.ntb {
  border-top: 0 !important;
}
.nbb {
  border-bottom: 0 !important;
}
.usn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.vat {
  vertical-align: top !important;
}
.vam {
  vertical-align: middle !important;
}
.vab {
  vertical-align: bottom !important;
}
.cp {
  cursor: pointer;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
ng\:form {
  display: block;
}
.ng-animate-shim {
  visibility: hidden;
}
.ng-anchor {
  position: absolute;
}
body {
  font-family: 'Hiragino Sans GB', 'Helveica Neue', 'Roboto', 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}
.fade {
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
.fade.ng-enter {
  position: relative;
  opacity: 0;
}
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  position: absolute;
  top: 8px;
  right: 8px;
  left: 8px;
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.container {
  height: 100%;
}
.navbar .logo {
  margin: 0 20px;
  height: 49px;
}
main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
main .content {
  position: relative;
}
.sidebar {
  padding: 0 10px;
}
.footer {
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
}
.sidebar .user-info .avatar {
  padding-left: 97px;
}
.sidebar .user-info .avatar .circle {
  width: 67px;
  height: 67px;
}
.sidebar .hot-top .title {
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
}
.sidebar .hot-top .collection-item .index {
  display: inline-block;
  width: 30px;
  padding-right: 10px;
  text-align: right;
}
.index-wrapper .card-action .material-icons {
  margin-right: 5px;
}
.index-wrapper .card-action .count {
  margin-right: 15px;
}
