doctype html
html(ng-app='lms', lang='zh-cn')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='eric tian')
    base(href='/')
    block title
      title 企业在线学习系统
    link(rel='stylesheet', href='/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='/material-design-icons/iconfont/material-icons.css')
    link(rel='stylesheet', href='/assets/css/style.css')
  body(ng-cloak)
    md-progress-linear.loading(md-mode='indeterminate', ng-show='loading')
    block content
    script(src='/angular/angular.min.js')
    script(src='/angular-animate/angular-animate.min.js')
    script(src='/angular-aria/angular-aria.min.js')
    script(src='/angular-messages/angular-messages.min.js')
    script(src='/angular-material/angular-material.min.js')
    script(src='/angular-ui-router/release/angular-ui-router.min.js')
    //- inject:js
    script(src="/services/services.js")
    script(src="/filters/filters.js")
    script(src="/filters/friendly.js")
    script(src="/directives/directives.js")
    script(src="/directives/pagination.js")
    script(src="/app.js")
    script(src="/config/date.js")
    script(src="/config/http.js")
    script(src="/config/icons.js")
    script(src="/config/routes.js")
    script(src="/config/theme.js")
    script(src="/controllers/navbar.js")
    script(src="/controllers/sidebar.js")
    script(src="/controllers/course/add.js")
    script(src="/controllers/home/index.js")
    script(src="/controllers/sign/index.js")
    //- endinject
