doctype html
html(lang='zh-cn')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='eric tian')
    block title
      title 企业在线学习系统
    link(rel='stylesheet', href='/assets/components/materialize/css/materialize.css')
    link(rel='stylesheet', href='/assets/components/material-icons/material-icons.css')
    link(rel='stylesheet', href='/assets/css/style.css')
  body(ng-app='lms', ng-cloak)
    include ../partials/navbar.pug
    main.container.row
      .col.s9
        block content
      include ../partials/sidebar.pug
    include ../partials/footer.pug
    script(src='/assets/components/jquery/jquery.min.js')
    script(src='/assets/components/materialize/js/materialize.js')
    script(src='/assets/components/angularjs/angular.min.js')
    //- script(src='/components/angularjs/angular-animate.min.js')
    //- script(src='/components/angularjs/angular-aria.min.js')
    //- script(src='/components/angularjs/angular-messages.min.js')
    //- script(src='/components/angularjs/i18n/angular-locale_zh-cn.js')
    script(src='/services/services.js')
    script(src='/filters/filters.js')
    script(src='/directives/directives.js')
    script(src='/app.js')
    //- script(src='/config/routes.js')
    script(src='/controllers/index.js')
    block scripts
