md-input-container.md-block
  label 标题
  input(name='title', ng-model='form.title', required)
  div(ng-messages='courseForm.title.$error')
    div(ng-message='required') 请输入标题
md-input-container.md-block
  label 讲师
  input(name='lecturer', ng-model='form.lecturer', md-maxlength='100')
  div(ng-messages='courseForm.lecturer.$error')
    div(ng-message='md-maxlength') 采购单号最大长度100个字符
md-input-container.md-block
  label 讲师介绍
  textarea(name='lecturerIntroduction', rows='3', ng-model='form.lecturerIntroduction', md-maxlength='800')
  div(ng-messages='courseForm.lecturerIntroduction.$error')
    div(ng-message='required') 请输入品牌
    div(ng-message='md-maxlength') 品牌最大长度100个字符
md-input-container.md-block.md-input-has-value(ng-class='{ "md-input-invalid" : courseForm.category.$invalid && courseForm.$submitted }')
  label.md-required(translate) 分类
  md-radio-group(name='category', layout='row', ng-model='form.category', required)
    md-radio-button(value='Apple') Apple
    md-radio-button(value='Banana')  Banana
    md-radio-button(value='Mango') Mango
  div(ng-messages='courseForm.category.$error')
    div(ng-message='required', translate) 请选择分类
md-input-container.md-block
  label 概述
  textarea(name='summary', rows='3', ng-model='form.summary', md-maxlength='800')
  div(ng-messages='courseForm.summary.$error')
    div(ng-message='md-maxlength') 序列号最大长度100个字符
md-input-container.md-block
  label 内容
  textarea(name='content', froala='froalaOpts', ng-model='form.content', md-maxlength='800')
  div(ng-messages='courseForm.content.$error')
    div(ng-message='md-maxlength') 备注最大长度800个字符