@charset "UTF-8";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility:hidden;
}

.ng-anchor {
  position:absolute;
}

body {
  font-family: 'Hiragino Sans GB', 'Helveica Neue', 'Roboto', 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}

.fade {
  transition: all linear .3s;
  &.ng-enter {
    position: relative;
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.container {
  height: 100%;
}

.navbar {
  .logo {
    margin: 0 20px;
    height: 49px;
  }
}

main {
  flex: 1 0 auto;
  .content {
    position: relative;
  }
}

.sidebar {
  padding: 0 10px;
}

.footer {
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
}
