extends ./layouts/default.pug

block title
  title 后台管理 - 企业在线学习系统

block content
  .admin-wrap(ng-controller='admin', layout='row', flex, ng-cloak)
    md-sidenav.md-sidenav-left(md-is-locked-open='true', md-whiteframe='4')
      md-toolbar(layout='row', layout-align="center center")
        div(flex-offset='5', flex='40')
          img.logo(src='/public/assets/images/logo.png', ng-click='home()')
        div(flex)
        md-button.md-icon-button(ng-click='home()', layout='column')
          md-tooltip 返回首页
          md-icon arrow_back
      md-content
        <md-menu-content>
          <md-menu-item>
            <md-button ui-sref='admin.course' name='admin.course' ui-sref-active="md-primary">
              <md-icon>library_books</md-icon> 课程管理
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref='admin.category' name='admin.category' ui-sref-active="md-primary">
              <md-icon>settings</md-icon> 分类管理
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref='admin.user' name='admin.user' ui-sref-active="md-primary">
              <md-icon>supervisor_account</md-icon> 用户管理
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref='admin.role' name='admin.role' ui-sref-active="md-primary">
              <md-icon>verified_user</md-icon> 角色管理
            </md-button>
          </md-menu-item>
        </md-menu-content>
    md-content.fade.ui-view(flex, ng-animate="'fade'", layout='column')

